@font-face {
    font-family: "cloudy";
    src: url(../fonts/fluffy/FluffyClouds-K11y.ttf) format("truetype");
}
@font-face {
    font-family: "coolvetica";
    src: url(../fonts/coolvetica\ rg.ttf) format("truetype");
}
@font-face {
    font-family: "robot";
    src: url(../fonts/Roboto-Thin.ttf) format("truetype");
}
.title{
    margin-left: 15%;
    font-family: cursive;
    font-size: 100px;
    color: #c75164;
    }
 /*
Style pour le soleil
*/
.sun {
    width: 100px;
    float: left;
	height: 100px;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #cde2e4,
		0 0 0 40px #a5dde3,
		0 0 0 60px #70dfe3,
		0 0 0 80px #4c8e90,
		0 0 0 100px #364e6e,
		0 0 40px 100px #334363;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}
@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}
@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #cde2e4,
		0 0 0 20px #a5dde3,
		0 0 0 40px #70dfe3,
		0 0 0 60px #4c8e90,
		0 0 0 80px #364e6e,
		0 0 40px 100px #334363;
	}
	100% {
		box-shadow: 
		0 0 0 20px #cde2e4,
		0 0 0 40px #a5dde3,
		0 0 0 60px #70dfe3,
		0 0 0 80px #4c8e90,
		0 0 0 100px #364e6e,
		0 0 40px 100px #334363;
	}
}

/*
Style pour la date
*/
#timedate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    margin-left: 80%;
    margin-top: -7%;
    color :#3afefc;
  }
#mi{
    opacity: 0;
}
.mainHello{
		font-size: 50px;
		text-align: center;
		color:#F6019D ;
}
.moyenne{
	font-size: 45px;
	text-align: center;
	color:#8712b6 ;
	font-family: robot;
}
#tempid{
	font-size: 40px;
	text-align: center;
	color:#FF6C11 ;
	font-family: robot;
}
#humid{
	font-size: 40px;
	text-align: center;
	color:#2067d1 ;
	font-family: robot;
}

.lastvalues{
	font-size: 45px;
	text-align: center;
	font-family: robot;
}

.median{
	font-size: 23px;
	margin-left: 5%;
	color:#ac368e ;
	font-family: robot;
}

.medianX{
	font-size: 16px;
	margin-left: 7%;
	color:#cf8fa8 ;
	font-family: robot;
}

.medianY{
	font-size: 16px;
	margin-left: 7%;
	color:#e51cb3 ;
	font-family: robot;
}

.medianZ{
	font-size: 16px;
	margin-left: 7%;
	color:#731565 ;
	font-family: robot;
}

.imagegit{
	margin-right: 5%px;
}


