@font-face {
    font-family: "cloudy";
    src: url(../fonts/fluffy/FluffyClouds-K11y.ttf) format("truetype");
}
@font-face {
    font-family: "coolvetica";
    src: url(../fonts/coolvetica\ rg.ttf) format("truetype");
}
@font-face {
    font-family: "robot";
    src: url(../fonts/Roboto-Thin.ttf) format("truetype");
}
.title{
    text-align: center;
    font-family: cloudy;
    font-size: 80px;
    color: #F9C80E;
    }
 /*
Style pour le soleil
*/
.sun {
    width: 100px;
    float: left;
	height: 100px;
	background-color: #F9C80E;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #F9C80E80,
		0 0 0 40px #F9C80E40,
		0 0 0 60px #F9C80E20,
		0 0 0 80px #F9C80E10,
		0 0 0 100px #F9C80E00,
		0 0 40px 100px #F9C80E10;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}
@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}
@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #F9C80E80,
		0 0 0 20px #F9C80E80,
		0 0 0 40px #F9C80E40,
		0 0 0 60px #F9C80E20,
		0 0 0 80px #F9C80E10,
		0 0 40px 100px #F9C80E10;
	}
	100% {
		box-shadow: 
		0 0 0 20px #F9C80E80,
		0 0 0 40px #F9C80E40,
		0 0 0 60px #F9C80E20,
		0 0 0 80px #F9C80E10,
		0 0 0 100px #F9C80E00,
		0 0 40px 100px #F9C80E10;
	}
}

/*
Style pour la date
*/
#timedate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align:center;

    color:#fff;
  }
#mi{
    opacity: 0;
}
.mainHello{
		font-size: 50px;
		text-align: center;
		color:#F6019D ;
}
.moyenne{
	font-size: 45px;
	text-align: center;
	color:#8712b6 ;
	font-family: robot;
}
#tempid{
	font-size: 40px;
	text-align: center;
	color:#FF6C11 ;
	font-family: robot;
}
#humid{
	font-size: 40px;
	text-align: center;
	color:#2067d1 ;
	font-family: robot;
}

.lastvalues{
	font-size: 45px;
	text-align: center;
	font-family: robot;
}

/*
img
*/
.github img{
    width: 200px;
    height: 200px;
}
.gitimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/*
// 0xFadeath Copyrigthed this //
*/