@font-face {
    font-family: "cloudy";
    src: url(../fonts/FluffyClouds-K11y.ttf) format("truetype");
}
@font-face {
    font-family: "coolvetica";
    src: url(../fonts/coolvetica\ rg.ttf) format("truetype");
}
@font-face {
    font-family: "robot";
    src: url(../fonts/Roboto-Thin.ttf) format("truetype");
}



.title{
	height: 10vh;
		size: cover;
		position: center;
	margin-top: 5%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

    font-family: cursive;
    font-size: 100px;
    color: #ffffff;
    }
 /*
Style pour le soleil
*/
.sun {
    width: 100px;
    float: right;
	height: 100px;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #cde2e4,
		0 0 0 40px #a5dde3,
		0 0 0 60px #70dfe3,
		0 0 0 80px #4c8e90,
		0 0 0 100px #364e6e,
		0 0 40px 100px #334363;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}
@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}
@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #cde2e4,
		0 0 0 20px #a5dde3,
		0 0 0 40px #70dfe3,
		0 0 0 60px #4c8e90,
		0 0 0 80px #364e6e,
		0 0 40px 100px #334363;
	}
	100% {
		box-shadow: 
		0 0 0 20px #cde2e4,
		0 0 0 40px #a5dde3,
		0 0 0 60px #70dfe3,
		0 0 0 80px #4c8e90,
		0 0 0 100px #364e6e,
		0 0 40px 100px #334363;
	}
}



/*
Style pour la date
*/
#timedate {
	text-align: center;
    font: small-caps lighter 35px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color :#3afefc;
  }
#mi{
    opacity: 0;
}
.mainHello{
		font-size: 50px;
		text-align: center;
		color:#F6019D ;
}
.moyenne{
	font-size: 45px;
	text-align: center;
	color:#8712b6 ;
	font-family: robot;
}
#tempid{
	font-size: 40px;
	text-align: center;
	color:#FF6C11 ;
	font-family: robot;
}
#humid{
	font-size: 40px;
	text-align: center;
	color:#2067d1 ;
	font-family: robot;
}

.lastvalues{
	font-size: 45px;
	text-align: center;
	font-family: robot;
}

.median{
	font-size: 23px;
	margin-left: 5%;
	color:#ac368e ;
	font-family: robot;
}

.medianV{
	font-size: 16px;
	margin-left: 7%;
	color:#731565 ;
	font-family: robot;
}

.medianW{
	font-size: 16px;
	margin-left: 7%;
	color:#e51cb3 ;
	font-family: robot;
}

.medianX{
	font-size: 16px;
	margin-left: 7%;
	color:#cf8fa8 ;
	font-family: robot;
}

.medianY{
	font-size: 16px;
	margin-left: 7%;
	color:#e51cb3 ;
	font-family: robot;
}

.medianZ{
	font-size: 16px;
	margin-left: 7%;
	color:#731565 ;
	font-family: robot;
}

.imagegit{
	margin-right: 5%px;
}


.buttonX{
	position: center;
	display: flex;
	text-size-adjust: 69%;
	text-align: center;	
	justify-content: center;
	align-items: center;
}

.buttonY{
	position: center;
	display: flex;
	text-size-adjust: 69%;
	text-align: center;	
	justify-content: center;
	align-items: center;
}

.buttonXpos{
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonYpos{
	display: flex;
	justify-content: center;
	align-items: center;
}


.buttonl{
	justify-content: center;
	position: center;
	margin: 25px;
	background: rgb(181,182,172);
	background: radial-gradient(circle, rgba(181,182,172,1) 0%, rgba(42,46,51,1) 80%);
	border: solid #ffffff 3px;
    border-radius: 5px;
    width:470px;
    height: 150px;
    font-size: 130%;
    cursor: pointer;
}



.notbutton{
	text-align: center;	
}

.titlemeteo{
	height: 5vh;
		size: cover;
		position: center;
	margin-bottom: 15px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

    font-family: cursive;
    font-size: 20px;
    color: #ffffff;
	}
	
.texte3{
	height: 5vh;
		size: cover;
		position: center;
	margin-bottom: 15px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

   	font-family: cursive;
   	font-size: 35px;
   	color: #ffffff;
	}
	
.line3{
	align-items: center;
	height: 5px;
	color: #a5dde3;
	width: 100%;
	}

.menubutton{
	background: rgb(163,101,205);
	background: radial-gradient(circle, rgba(163,101,205,1) 0%, rgba(42,46,51,1) 100%);
}

.imageback{
	opacity: 25%;

}

html, body {
	height: 100%;
	margin: 0;
  }
  .wrapper {
	min-height: 100%;
  
	margin-bottom: -50px;
  }
  .footer,
  .push {
	height: 50px;
  }
